<launch>
	<!--Ejecutamos el nodo que genera una odometria con error--> 
	<node name="generarodometryconerror" pkg="particle_filter" type="generarodometryconerror" output="screen">
	</node>
	
	<!--Ejecutamos el nodo que pública la nube de puntos del mapeo--> 
	<node name="pcd_to_pointcloud" pkg="pcl_ros" type="pcd_to_pointcloud" output="screen" args="/home/rafael/catkin_ws/pcd/mapeado04.pcd 0.1">
		<param name="frame_id" type="string" value="/odom"/>
	</node>
	


	<!--Ejecutamos el nodo del particle filter-->   	
	<node name="particlefilter" pkg="particle_filter" type="particle_filter" output="screen">
	</node>

</launch>
